#Ignore everything
*

# Except this
!.i3status.py
!.vim/autoload/
!.vimrc
!.vim
!.alacritty.yml
!packages
!aur-list.pkg
!pacman-list.pkg
!.bashrc
!.ideavimrc
!.xinitrc
!.Xmodmap
!.gitignore
!.scripts/
!.scripts/**
!.config/
!.config/autostart/
!.config/autostart/**
!.config/JetBrains/
!.config/JetBrains/pycharm/
!.config/JetBrains/pycharm/**
!.conkyrc
!.config/fish/
!.config/fish/**
!.config/i3/
!.config/i3/**
!.config/autokey/
!.config/autokey/**
!.config/rofi/
!.config/rofi/**
!fonts
!fonts/*
!Documents
