# Ignore everything
*

# Except this
!*.vimrc
!*.vim
!*.bashrc
!*.ideavimrc
!.gitignore
!.scripts/
!.scripts/**
!.config/
!.config/autostart/
!.config/autostart/**
!.config/JetBrains/
!.config/JetBrains/pycharm/
!.config/JetBrains/pycharm/**
!.conkyrc
