# Ignore everything
*

# Except this
!.vim/autoload/
!*.vimrc
!*.vim
!*.bashrc
!*.ideavimrc
!.gitignore
!.scripts/
!.scripts/**
!.config/
!.config/autostart/
!.config/autostart/**
!.config/JetBrains/
!.config/JetBrains/pycharm/
!.config/JetBrains/pycharm/**
!.conkyrc
!.config/fish/
!.config/fish/**
!fonts
!fonts/*
!Documents
